.App {
  padding: 0em 2em;
  align-items: center;
  width: 100%;
  
}

.wrapper {
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navMenu {
  display: flex;
  padding: 0em 2em 0.2em 2em;
  background-color: antiquewhite;
  flex-grow: 1;
  
  border-radius: 10px 10px 30px 30px;
  
}

a {
  display: flex;
  flex-direction: row;
  padding: 0em 2em 0.2em 2em;
  list-style-type: none;
  text-decoration: none;
  color: black;
  font-variant: all-small-caps;
  margin: auto;

}

.txtPlay {
  display: inline;
  padding: 0em;
  margin: auto;
  color: #2678C0;
  font-weight: bold;
  font-size: 1.3em;
}

a:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
}

li {
  padding: 0em 1em;
  margin: auto;
  
}

.playButton {
  font-size: 1.5em;
  margin: auto;
  color: #2678C0;
}

main {
  width: 100%;
  margin: auto;
  text-align: center;
}

.battleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}



Link {
  align-items: flex-end;
}




.gallery {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap:2em;
  list-style-type: none;
  height: 50px;
  width: auto;
  margin-top: 5vh;

}

.galleryCard {
 padding-top: 2em;
 background-color:lightgreen;
 
}

.galleryCard img, .battleWrapper li img {
  width: auto;
  height: 10em;
}

.startButton { 
  margin: auto;
  width: 5em;
;
}